<!DOCTYPE html>
<html lang="en">

<head>
  <title>Alarm Clock By Dasha & Nodejs</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <main class="min-h-screen flex flex-col row-column items-center justify-center text-center">
    <h1 class="text-4xl font-bold">
      Alarm Clock With Dasha AI
    </h1>
    <div class="text-gray-400 text-xs italic py-2">please add the country code before your number</div>

    <form class="min-w-[40%]" onsubmit="return handleOnSubmit(event)" method="get" action="#">
      <input
        class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
        id="phone" type="text" placeholder="Enter your number..." />

      <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded my-2" type="submit">
        Alarm Call
      </button>

    </form>
  </main>

  <script>

    function handleOnSubmit(e) {
      e.preventDefault();

      const phone = document.getElementById('phone').value

      if (phone) {
        postData('/', { phone })
          .then(data => {
            if (data.success) {
              alert('Alarm call is coming on your way! Please wait....')
            } else {
              alert('Something went wrong!')
            }
          });
      }

    }


    async function postData(url = '', data = {}) {
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },

        body: JSON.stringify(data)
      });
      return response.json();
    }



  </script>

</body>

</html>
